.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0;
}

.menu-button {
    opacity: 0;
    visibility: hidden;
    display: none;
}


@media (max-width: 800px) {
    .menu-bar.active {
            height: 100px;
            transition: 0.5s linear;
            overflow: hidden;
        }

    .menu-button {
        opacity: 1;
        visibility: visible;
        display: contents;
    }

    .menu.active {
        opacity: 1;
        visibility: visible;
        transition: 0.5s linear;
        display: initial;
    }

    .menu {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 500px) {
    .menu-bar.active {
        height: 115px;
        transition: 0.5s linear;
        overflow: hidden;
    }
}

@media (min-width: 800px) {
    .menu-bar {
        visibility: visible;
        opacity: 1;
        display: content;
    }
}


.menu-bar {
    height: 100px;
    transition: 0.5s linear;
}





/*.item {
    width: 31%;
    position: absolute;
    height: 80%;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( 10 / 4 * var(--delay) );

}


.item img{
    width: 100%;
    border-radius: 10px;   
    cursor: pointer;
}



@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: -350px;
    }

}*/