.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s linear;
    display: initial;
}


@media (max-width: 800px) {
    .menu-bar.active {
            height: 150px;
            transition: 0.5s linear;
            overflow: hidden;
        }
}

@media (max-width: 500px) {
    .menu-bar.active {
        height: 150px;
        transition: 0.5s linear;
        overflow: hidden;
    }
}


.menu-bar {
    height: 100px;
    transition: 0.5s linear;
}

.menu {
    opacity: 0;
    display: none;
}

/*.item {
    width: 31%;
    position: absolute;
    height: 80%;
    left: 100%;
    animation: autoRun 10s linear infinite;
    animation-delay: calc( 10 / 4 * var(--delay) );

}


.item img{
    width: 100%;
    border-radius: 10px;   
    cursor: pointer;
}



@keyframes autoRun {
    from {
        left: 100%;
    }
    to {
        left: -350px;
    }

}*/